In [21]:
#Importamos las librerias
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [22]:
#Se importa la data

peliculas = pd.read_csv("data/movies2.csv")

In [23]:
peliculas

,franquicia,presupuesto,genero,pagina_web,imdb_id,lenguaje,popularidad,productores,pais,fecha_estreno,ventas,duracion,estado,titulo,puntuacion,n_votos
0,Father of the Bride Collection,NaN,Comedy,NaN,tt0113041,en,8.387519,Sandollar Productions,United States of America,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0
1,NaN,NaN,Drama,NaN,tt0112749,en,0.894647,Miramax,South Africa,1995-12-15,676525.0,106.0,Released,"Cry, the Beloved Country",6.7,13.0
2,Friday Collection,3500000.0,Comedy,http://www.newline.com/properties/friday.html,tt0113118,en,14.569650,New Line Cinema,United States of America,1995-04-26,28215918.0,91.0,Released,Friday,7.0,513.0
3,NaN,NaN,Comedy,NaN,tt0115697,en,8.963037,Paramount Pictures,United States of America,1996-02-01,32.0,87.0,Released,Black Sheep,6.0,124.0
4,NaN,12000000.0,Comedy,NaN,tt0116483,en,9.592265,Universal Pictures,United States of America,1996-02-16,41205099.0,92.0,Released,Happy Gilmore,6.5,767.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,The Ouija Experiment Collection,NaN,Horror,NaN,tt3727824,en,1.642247,La Luna Entertainment,United States of America,2015-01-13,NaN,86.0,Released,The Ouija Experiment 2: Theatre of Death,3.0,25.0
1345,NaN,NaN,NaN,NaN,tt0130355,en,0.352816,NaN,NaN,1937-01-01,NaN,11.0,Released,Voyage to the Sky,5.5,2.0
1346,NaN,NaN,NaN,NaN,tt1337446,en,0.110588,NaN,NaN,2009-04-21,NaN,86.0,Released,The Anatomy of Hate,5.7,3.0
1347,Texas Chainsaw Massacre Collection,NaN,Horror,NaN,tt2620590,en,9.742082,Campbell Grobman Films,United States of America,2017-09-14,NaN,90.0,Released,Leatherface,5.7,62.0
1348,NaN,NaN,NaN,NaN,tt1408062,it,0.121946,NaN,Italy,2010-01-01,NaN,0.0,Released,The Father and the Foreigner,6.0,1.0

In [25]:
#Seleccionar solo los valores numéricos
datos_numericos = peliculas.select_dtypes(np.number)

In [26]:
datos_numericos

      presupuesto  popularidad      ventas  duracion  puntuacion  n_votos
0             NaN     8.387519  76578911.0     106.0         5.7    173.0
1             NaN     0.894647    676525.0     106.0         6.7     13.0
2       3500000.0    14.569650  28215918.0      91.0         7.0    513.0
3             NaN     8.963037        32.0      87.0         6.0    124.0
4      12000000.0     9.592265  41205099.0      92.0         6.5    767.0
...           ...          ...         ...       ...         ...      ...
1344          NaN     1.642247         NaN      86.0         3.0     25.0
1345          NaN     0.352816         NaN      11.0         5.5      2.0
1346          NaN     0.110588         NaN      86.0         5.7      3.0
1347          NaN     9.742082         NaN      90.0         5.7     62.0
1348          NaN     0.121946         NaN       0.0         6.0      1.0

[1349 rows x 6 columns]

In [29]:
# Reemplazamos los Nan por 0

datos_limpios = peliculas.select_dtypes(np.number).fillna(0)

In [30]:
datos_limpios

      presupuesto  popularidad      ventas  duracion  puntuacion  n_votos
0             0.0     8.387519  76578911.0     106.0         5.7    173.0
1             0.0     0.894647    676525.0     106.0         6.7     13.0
2       3500000.0    14.569650  28215918.0      91.0         7.0    513.0
3             0.0     8.963037        32.0      87.0         6.0    124.0
4      12000000.0     9.592265  41205099.0      92.0         6.5    767.0
...           ...          ...         ...       ...         ...      ...
1344          0.0     1.642247         0.0      86.0         3.0     25.0
1345          0.0     0.352816         0.0      11.0         5.5      2.0
1346          0.0     0.110588         0.0      86.0         5.7      3.0
1347          0.0     9.742082         0.0      90.0         5.7     62.0
1348          0.0     0.121946         0.0       0.0         6.0      1.0

[1349 rows x 6 columns]

In [31]:
#Configurar las variables objetivo e independientes.

objetivo = "ventas"
#las variables independientes serian todas las demas menos ventas
independientes = datos_limpios.drop(columns=objetivo).columns

In [32]:
#Creamos el modelo y lo ajustamos

modelo = LinearRegression()
modelo.fit(X=datos_limpios[independientes], y=datos_limpios[objetivo])

LinearRegression()

In [33]:
#Agregamos las predicciones como una nueva columna del dataset original
peliculas["ventas_prediccion"] = modelo.predict(datos_limpios[independientes])

In [35]:
peliculas.keys()

Index(['franquicia', 'presupuesto', 'genero', 'pagina_web', 'imdb_id',
       'lenguaje', 'popularidad', 'productores', 'pais', 'fecha_estreno',
       'ventas', 'duracion', 'estado', 'titulo', 'puntuacion', 'n_votos',
       'ventas_prediccion'],
      dtype='object')

In [36]:
#Mostrar solo los campos ventas y ventas_predicción
peliculas[["ventas", "ventas_prediccion"]].head()

       ventas  ventas_prediccion
0  76578911.0       1.350624e+07
1    676525.0       5.503581e+06
2  28215918.0       3.876680e+07
3        32.0       9.331852e+06
4  41205099.0       6.737609e+07

In [ ]:
#La columna ventas, son las ventas reales, y la columna ventas_prediccion son 
#los datos que el sistema hubiese predicho si 
#le hubiéramos pasado los datos correspondientes a sus  variables independientes.